<div class="conainer-fluid">
  <form [formGroup]="configWebPushForm">
    <fieldset class="mb-2">
      <legend class="float-none m-0 w-auto">Dados básicos</legend>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="nomeSite">Nome do Site:</label>
            <input type="text" id="nomeSite" formControlName="nomeSite" class="form-control">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="enderecoSite">Endereço do Site:</label>
            <input type="text" id="enderecoSite" formControlName="enderecoSite" class="form-control">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="icone">Ícone:</label>
            <input type="file" id="icone" formControlName="icone" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="my-2">
      <legend class="float-none m-0 w-auto">Configuração da notificação de permissão</legend>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="mensagem">Texto da mensagem:</label>
            <textarea class="form-control" id="mensagem" formControlName="mensagem" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="textoPermitir">Texto do botão Permitir:</label>
            <textarea class="form-control" id="textoPermitir" formControlName="textoPermitir" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="textoNegar">Texto do botão Negar:</label>
            <textarea class="form-control" id="textoNegar" formControlName="textoNegar" rows="2"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="my-2">
      <legend class="float-none m-0 w-auto">Configuração da notificação de boas vindas</legend>
      <div class="row my-2">
        <div class="col-4">
          <div class="form-group">
            <label for="tituloNotificacao">Título da notificação:</label>
            <input type="text" id="tituloNotificacao" formControlName="tituloNotificacao" class="form-control">
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="enderecoDestino">Endereço do Destino:</label>
            <input type="text" id="enderecoDestino" formControlName="enderecoDestino" class="form-control">
          </div>
        </div>
        <div class="col-3">
          <div class="form-check mt-2">
            <input class="form-check-input" formControlName="linkDestino" type="radio" name="linkDestino"
              id="habilitarLinkDestino" [value]="true">
            <label class="form-check-label" for="habilitarLinkDestino">
              Habilitar link de destino
            </label>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" formControlName="linkDestino" type="radio" name="linkDestino"
              id="desabilitarLinkDestino" [value]="false">
            <label class="form-check-label" for="desabilitarLinkDestino">
              Desabilitar link de destino
            </label>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12">
          <div class="form-group">
            <label for="mensagemBoasVindas">Texto da mensagem:</label>
            <textarea class="form-control" id="mensagemBoasVindas" formControlName="mensagemBoasVindas"
              rows="2"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-outline-secondary mx-1" (click)="voltar()">Voltar</button>
        <button class="btn btn-outline-primary mx-1" (click)="salvar()">Salvar</button>
      </div>
    </div>
  </form>
</div>