<div class="container-fluid">
  <form [formGroup]="configEmailForm">
    <fieldset class="mb-2">
      <legend class="float-none m-0 w-auto">Dados técnicos</legend>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="serverName">Nome do Servidor SMTP:</label>
            <input type="text" id="serverName" formControlName="serverName" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="submissionPortal">Porta de envio:</label>
            <input type="text" id="submissionPortal" formControlName="submissionPortal" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" id="login" formControlName="login" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" formControlName="password" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="my-2">
      <legend class="float-none m-0 w-auto">Dados de envio</legend>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="senderName">Nome do remetente:</label>
            <input type="text" id="senderName" formControlName="senderName" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="senderEmail">Email do remetente:</label>
            <input type="email" id="senderEmail" formControlName="senderEmail" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="my-2">
      <legend class="float-none m-0 w-auto">Submissão de templates</legend>
      <div class="row my-2">
        <div class="col-12">
          <div class="form-group">
            <label for="template">Template:</label>
            <input type="file" id="template" formControlName="template" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-outline-secondary mx-1" (click)="back()">Voltar</button>
        <button class="btn btn-outline-primary mx-1" (click)="save()">Salvar</button>
      </div>
    </div>
  </form>
</div>