<nav class="sidebar">
  <ul class="nav navbar-nav flex-column">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="home">
        <fa-icon [icon]="homeIcon" class="mx-2"></fa-icon>
        <span>Página Inicial</span>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/configuracao">
        <fa-icon [icon]="configIcon" class="mx-2"></fa-icon>
        Configuração
      </a>
    </li>
  </ul>
</nav>